// VARIABLES //

// COLORS
$color-bg-gray: #f7f7f7;
$color-headline-gray: #404040;
$color-body-gray: #747474;
$color-border-gray: #E9E9E9;
$color-dark-gray: #1a1a1a;
$color-blue: #005FE4;
$color-white: #ffffff;

// TYPE
$font-serif: 'PT Serif', Garamond, Baskerville, Georgia, serif;
$font-sans: 'Karla', Arial, Helvetica, sans-serif;
$font-mono: 'Inconsolata', 'Andale Mono', Courier, monospace;

// FONT SIZE
$type-xl: 2.5rem; // 45px
$type-l: 1.5rem; // 27px
$type-m: 1.25rem; // 22.5px
$type-s: 1rem; // 18px
$type-xs: 0.75rem; // 13.5px


// MIXINS

//  transitions
@mixin transition ($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// font smoothing
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// text selection
@mixin selection {
	::-webkit-selection { @content; }
    ::-moz-selection { @content; }
    ::selection { @content; }
}




// Meyer Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// GENERAL

html {
	font-size: 18px;
}

body {
	background-color: $color-bg-gray;
	color: $color-body-gray;
	font-family: $font-sans;
	@include font-smoothing(on);
}

*, *:before, *:after {
    box-sizing: inherit;
}

figure {
	width: 100%;
	margin: 3rem 0;
}

figcaption {
	font-family: $font-mono;
    font-size: 0.75rem;
    color: $color-body-gray;
	background-color: $color-white;
	padding: 1rem;
	margin: 0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

img {
	width: 100%;
	display: block;
}

// STRUCTURE
header {
	width: 100%;
	background-color: $color-white;
	margin-bottom: 100px;
}

.logo {
	background: url("../img/am-logo.svg") no-repeat center center;
	width: 38px;
	height: 32px;
	overflow: hidden;
	opacity: 1;
	@include transition(opacity 0.2s ease-in-out);
		&:hover {
			opacity: 0.5;
		}
}

main {
	max-width: 940px;
	padding: 10px;
	margin: 0 auto;
}

nav {
	max-width: 940px;
	margin: 0 auto;
	padding: 30px 10px;
	overflow: hidden;
}

.logo {
  float: left; 
}

.menu-right {
	float: right; 
	padding-top: 6px;

		li {
		font-size: 1rem;
		margin-left: 40px;
		color: $color-body-gray;
		display: inline;

			a {
				color: $color-body-gray;
				border-bottom: 1px solid transparent;
				padding-bottom: 8px;
				@include transition(all 0.2s ease-in-out);
					&:hover {
					color: $color-blue;
					border-bottom: 1px solid $color-blue;
					padding-bottom: 2px;
					}
			}  
		}

}

.entry-wrap {
	margin-top: 100px;
}

// TYPOGRAPHY

a {
	text-decoration: none;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 1.5rem 0;

	a {
		color: $color-blue;
		padding-bottom: 1px;
		border-bottom: 1px solid $color-border-gray;
			@include transition(all 0.2s ease-in-out);
			&:hover {
			border-bottom: 1px solid $color-blue;
			} 
	}
}

blockquote {
	font-family: 'PT Serif', Georgia, serif;
	font-size: 1.25rem;
	font-style: italic;
	line-height: 1.5;
	color: #404040;
	border-left: 2px solid $color-border-gray;
	margin: 2rem 0;
	padding: 0.75rem 0 0.75rem 2rem;
}

h1 {
	font-family: 'PT Serif', Georgia, serif;
	font-size: 2.5rem;
	font-weight: 700;
	color: $color-headline-gray;
	line-height: 1.2em;

	a {
		color: inherit;
		border-bottom: 2px solid $color-border-gray;
			@include transition(all 0.2s ease-in-out);
			&:hover {
			color: $color-blue;
			border-bottom: 2px solid $color-blue;
			}
	}
}

h2 {
	font-family: $font-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: $color-headline-gray;
	line-height: 1.2em;	
}

.post-date {
	font-family: $font-mono;
    font-size: 0.75rem;
    color: $color-body-gray;
    margin: 20px 0;
    display: block;
    position: relative;

    span {
		position: absolute;
		height: 2px;
		background-color: $color-border-gray;
		width: 2rem;
		top: 40px;
		left: 0;	
	}
}

.entry-wrap p {
	padding: 0 5rem; 
}

// STYLE

.intro {
	margin-bottom: 4rem;
}

.home-wrap {
	padding-left: 8rem;
}

.journal-preview {
	margin: 4rem 0;
}

// BUTTONS
.btn-stroke-blue {
	font-family: $font-mono;
	font-size: 0.75rem;
	border-radius: 4px;
	padding: 0.75rem 1rem;
	border: 1px solid $color-blue;
	color: $color-blue;
	display: inline-block;
	background-color: transparent;
	@include transition(all 0.2s ease-in-out);
  	&:hover {
		border: 1px solid $color-blue;
		color: $color-white;
		background-color: $color-blue;
  	} 
}

// LITTLE BIG DETAILS

@include selection {
	color: $color-white;
	background-color: $color-blue;
}

// FOOTER //

footer{
	font-size: 1rem;
	font-family: $font-sans;
	line-height: 1.5rem;
	color: $color-body-gray;
	background-color: $color-dark-gray;
	width: 100%;
	margin-top: 100px;
	padding: 60px 0 20px 0;
	overflow: hidden;
	position: relative;

	a{
	color: inherit;
	    @include transition(all 0.2s ease-in-out);
	  	&:hover {
			color: $color-white;	
		}
	}

	section{
		margin: 0 auto;
		padding: 0 10px;
		max-width: 940px;
	}
}

section{

	.col-1,.col-2 {
		float: left;
		width: 25%;
	}

	.social {
		float: left;
		width: 50%;

		ul {
			float: right;
		}

		li{
		padding: 0 18px;
		display: inline;
		opacity: 0.3;
			@include transition(all 0.2s ease-in-out);
				&:hover {
				opacity: 1.0;
			}
		}
	}
}

// section .col-1{
//   float: left;
//   width: 25%;
// }

// section .col-2{
//   float: left;
//   width: 25%;
// }

// section .social{
//   float: left;
//   width: 50%;
// }

// section .social ul{
//   float: right;
// }

// .social li{
// 	padding: 0 18px;
// 	display: inline;
// 	opacity: 0.3;
// 	@include transition(all 0.2s ease-in-out);
// 		&:hover {
// 		opacity: 1.0;
// 	}
// }

.dribbble{
	background: url(../img/dribbble.svg) no-repeat center center;
	width: 20px;
	height: 20px;
}

.twitter{
	background: url(../img/tw.svg) no-repeat center center;
	width: 20px;
	height: 20px;
}

.medium{
	background: url(../img/medium.svg) no-repeat center center;
	width: 20px;
	height: 20px;
}

.instagram{
	background: url(../img/ig.svg) no-repeat center center;
	width: 20px;
	height: 20px;
}

.latlong{
	font-family: $font-sans;
	font-size: 1.25rem;
	color: $color-headline-gray;
	clear: both;
	float: right;
	padding-top: 40px;
}
